{% load static %}
{% load blog_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
<title>
    {% block title %}{% endblock %}
</title>
<link href="{% static "css/blog.css" %}" rel="stylesheet">
</head>
<body>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
<div id="sidebar">
    <h2>My blog</h2>
    <p>This is my blog.</p>
    <p>This is my Blog. I have written {% total_posts %} posts so far.</p>
    <h3>Latest Post</h3>
    {% show_latest_posts 3 %}
    <h3>Most Commented Post</h3>
    {% get_most_commented_posts as most_commented_posts %}
    <ul>
        {% for post in most_commented_posts %}
            <li>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
